@charset "utf-8";

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 12px;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul, ul, li {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #333333;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;    /* form clear */
    -webkit-appearance: none !important;
}

/* --------------------
Common
-------------------- */
.container h1, .container h2, .container h3, .container p, .container a {
    color: #000;
    font-size: 12px;
    line-height: 1.5em;
}

.container .bold {
    font-weight: bold;
}

/* ----- Clearfix ----- */
.clearfix:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
    clear: both;
}

.clearfix {
    zoom: 1;
}

/* responsive */
#page .pc_contents{
    display: block;
}
#page .sp_contents{
    display: none;
}
#page .pc_inline{
    display: inline;
}
#page .sp_inline{
    display: none;
}
#page .pc_inline-block{
    display: inline-block;
}
#page .sp_inline-block{
    display: none;
}
/* added CSS */
#page{
    font-size: 0;
    img{
        width: 100%;
    }
.header{
    width: 316px;
    height: 100vh;
    min-height: 650px;
    background-color: #eedcb3;
    position: fixed;
    z-index: 2;
    &__inbox{
        width: 100%;
        height: 100%;
        background: url(../images/stripe.png);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 175px 229px;
    }
    &__body{
        position: absolute;
        bottom: 12vh;
        right: 0;
        left: 0;
        ul{
            width: 100%;
            padding-right: 50px;
            margin-bottom: 60px;
            text-align: right;
            li{
                display: block;
                margin-top: 1em;
                font-size: 24px;
                a{
                    font-size: inherit;
                    color: #333333;
                    text-decoration: none;
                    font-family: 'Times New Roman', sans-serif;
                    font-weight: 600;
                    position: relative;
                    overflow: hidden;
                    span{
                        width: 50%;
                        height: 1px;
                        position: absolute;
                        bottom: 0;
                        background-color: #666666;
                        opacity: 0;
                        &.rightSpan{
                            right: 100%;
                        }
                        &.leftSpan{
                            left: 100%;
                        }
                    }
                    /*&:hover{
                        color: #cccccc;
                    }*/
                }
            }
        }
        &__logo{
            width: 250px;
            vertical-align: top;
            margin: 0 auto;
        }
    }
}
.sp_header{
        display: none;
        position: relative;
        z-index: 9999;
        &__body{
            display: none;
            width: 100%;
            height: 100%;
            background-color: #eedcb3;
            background-color: pink;
            padding-top: 30vh;
            ul{
                width: 70%;
                li{
                    display: block;
                    margin-top: 1em;
                    font-size: 24px;
                    text-align: right;
                    a{
                        font-size: inherit;
                        color: #333333;
                        text-decoration: none;
                        font-family: 'Times New Roman', sans-serif;
                        font-weight: 600;
                        position: relative;
                        overflow: hidden;
                        span{
                            width: 50%;
                            height: 1px;
                            position: absolute;
                            bottom: 0;
                            background-color: #666666;
                            opacity: 0;
                            &.rightSpan{
                                right: 100%;
                            }
                            &.leftSpan{
                                left: 100%;
                            }
                        }
                        /*&:hover{
                            color: #cccccc;
                        }*/
                    }
                }
            }
        }
    }

@media screen and (max-width:768px) {
    .header{
        display: none;
    }
    .sp_header{
        display: block;
        /*display: none;*/
        &__head{
            width: 100%;
            height: 70px;
            position: fixed;
            background-color: #eedcb3;
            padding: 0 5%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            z-index: 3;
            p{
                height: 8vw;
                width: 8vw;
                font-size: 0;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                a{
                    width: 100%;
                    height: 100%;
                    display: block;
                }
                span{
                    width: 100%;
                    height: 10%;
                    display: inline-block;
                    background-color: brown;
                    border-radius: 10vw;
                    position: relative;
                    cursor: pointer;
                }
            }
            &__bar--1{
                transform-origin: 100% 0;
            }
            &__bar--3{
                transform-origin: 100% 100%;
            }
            /* animation */
            &__bar--1.bar-on{
                animation: bar1-1 .3s forwards;

                @keyframes bar1-1{
                    0%{transform: rotate(0deg);
                        width: 100%;}
                    100%{transform: rotate(-45deg);
                    width: 110%;}
                }
            }
            &__bar--1.bar-off{
                animation: bar1-2 .3s forwards;

                @keyframes bar1-2{
                    0%{transform: rotate(-45deg);
                    width: 110%;}
                    100%{transform: rotate(0deg);
                    width: 100%;}
                }
            }
            &__bar--2.bar-on{
                animation: bar2-1 .3s forwards;

                @keyframes bar2-1{
                    0%{opacity: 1;
                    }
                    100%{opacity: 0;}
                }
            }
            &__bar--2.bar-off{
                animation: bar2-2 .3s forwards;

                @keyframes bar2-2{
                    0%{opacity: 0;}
                    100%{opacity: 1;}
                }
            }
            &__bar--3.bar-on{
                animation: bar3-1 .3s forwards;

                @keyframes bar3-1{
                    0%{transform: rotate(0deg); width: 100%;}
                    100%{transform: rotate(45deg);
                    width: 110%; top: 3px;}
                }
            }
            &__bar--3.bar-off{
                animation: bar3-2 .3s forwards;

                @keyframes bar3-2{
                    0%{transform: rotate(45deg);
                        width: 110%; top: 3px;}
                    100%{transform: rotate(0deg);width: 100%;}
                }
            }
        }
        &__body{
            display: none;
            /*display: block;*/
            width: 100vw;
            height: 100vh;
            position: fixed;
            background-color: rgba(255,255,255,0.9);
            z-index: 2;
        }
    }
}

/* icon Animation */
.hover-on{
    animation: hoverOn 0.5s ease 0s normal forwards;
}
@keyframes hoverOn{
    0%{bottom: 0;}
    50%{bottom: 7px;}
    100%{bottom: 2px;}
}
.hover-off{
    animation: hoverOff 0.5s ease 0s normal forwards;
}
@keyframes hoverOff{
    0%{bottom: 2px;}
    50%{bottom: 7px;}
    100%{bottom: 0;}
}




.hover-on .rightSpan{
    animation: onBarRight 0.5s ease 0s normal forwards;
}
@keyframes onBarRight{
    0%{right: 100%;
        opacity: 0;}
    100%{right: 0;
        opacity: 1;}
}
.hover-off .rightSpan{
    animation: offBarRight 0.5s ease 0s normal forwards;
}
@keyframes offBarRight{
    0%{right: 0;
        opacity: 1;}
    100%{right: 100%;
        opacity: 0;}
}
.hover-on .leftSpan{
    animation: onBarLeft 0.5s ease 0s normal forwards;
}
@keyframes onBarLeft{
    0%{left: 100%;
        opacity: 0;}
    100%{left: 0;
        opacity: 1;}
}
.hover-off .leftSpan{
    animation: offBarLeft 0.5s ease 0s normal forwards;
}
@keyframes offBarLeft{
    0%{left: 0;
        opacity: 1;}
    100%{left: 100%;
        opacity: 0;}
}


.top{
    width: 100vw;
/*    height: calc(100vh - 12vh);*/
/*    padding-bottom: 12vh;*/
    display: inline-block;
    &__inbox{
        width: 100%;
        padding-top: 100vh;
       /* max-width: 1440px;*/
        position: relative;
        #cvs{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
    &__text{
        position: absolute;
        bottom: 12vh;
        right: 8.6%;
        text-align: right;
        font-family: 'YuMincho', sans-serif;
        &__subject{
            font-size: 30px;
            padding-right: 145px;
            margin-bottom: 0.5em;
        }
        &__title{
            font-size: 60px;

        }
    }
}
@media screen and (max-width:768px) {
    .top{
        width: 100vw;
    /*    height: calc(100vh - 12vh);*/
        margin-bottom: 0;
        display: inline-block;
        &__inbox{
            width: 100%;
            height: 70vh;
            margin: 0 auto;
        }
        &__text{
            right: 0;
            left: 0;
            margin: 0 auto;
            text-align: center;
            font-family: 'YuMincho', sans-serif;
            &__subject{
                font-size: 24px;
                padding-right: 0;
                padding-left: 1em;
                margin-bottom: 0.5em;
                text-align: left;
            }
            &__title{
                font-size: 48px;

            }
        }
    }
}


/* gallery */
.gallery{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    &__inbox{
        max-width: 100vw;
        margin-left: 316px;
        padding: 0 30px;
    }
    &__title{
        margin: 0 auto;
        padding: 170px 0 120px;
        font-family: 'YuMincho', sans-serif;
        font-size: 32px;
        color: #333333;
        text-align: center;
    }
    &__list{
        width: 100%;
        margin: 0 auto 30px;
        &__item{
            width: 330px;
            padding: 5px;
            &:hover{
                opacity: 0.8;
                transition: 0.5s;
            }
            img{
                border-radius: 5%;
            }
        }
    }
}
@media screen and (max-width:768px) {
    .gallery{
        width: 100vw;
        height: auto;
        min-height: 100vh;
        &__inbox{
            max-width: 100vw;
            margin: 0 auto;
            padding: 0 30px;
        }
        &__title{
            margin: 0 auto;
            padding: 170px 0 120px;
            font-family: 'YuMincho', sans-serif;
            font-size: 32px;
            color: #333333;
            text-align: center;
        }
        &__list{
            width: 100%;
            margin: 0 auto 30px;
            &__item{
                width: 330px;
                padding: 5px;
                img{
                    border-radius: 5%;
                }
            }
        }
    }
}

/* profile */
.profile{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    &__inbox{
        max-width: 100vw;
        margin-left: 316px;
        padding: 0 30px;
    }
    &__title{
        margin: 0 auto;
        padding: 170px 0 120px;
        font-family: 'YuMincho', sans-serif;
        font-size: 32px;
        color: #333333;
        text-align: center;
    }
    &__name{
        font-family: 'YuMincho', sans-serif;
        font-size: 32px;
        color: #333333;
        text-align: center;
        padding-bottom: 90px;
    }
    &__textArea{
        margin: 0 auto;
        width: 720px;
        p{
            font-family: 'YuMincho', sans-serif;
            font-size: 24px;
            color: #333333;
            padding-bottom: 1em;
        }
    }
}
@media screen and (max-width:768px) {
    .profile{
        &__inbox{
            max-width: 100vw;
            margin: 0 auto;
            padding: 0 30px;
        }
        &__title{
            margin: 0 auto;
            padding: 170px 0 120px;
            font-family: 'YuMincho', sans-serif;
            font-size: 32px;
            color: #333333;
            text-align: center;
        }
        &__name{
            font-family: 'YuMincho', sans-serif;
            font-size: 32px;
            color: #333333;
            text-align: center;
            padding-bottom: 90px;
        }
        &__textArea{
            margin: 0 auto;
            width: (68000vw/750);
            p{
                font-family: 'YuMincho', sans-serif;
                font-size: 24px;
                color: #333333;
                padding-bottom: 1em;
            }
        }
    }
}





.footer{
    width: 100vw;
    background-color: #3a3735;
    position: relative;
    z-index: 3;
    &__inbox{
        width: 100%;
        height: 12vh;
        display: flex;
        align-items: center;
    }
    &__name{
        font-size: 30px;
        font-family: 'Allura', 'Pinyon Script', 'Gautreaux', sans-serif;
        color: #c9c7c3;
        margin: 0 auto;
    }
}
@media screen and (max-width:768px) {
    .footer{
        &__name{
            font-size: 24px;
        }
    }
}








}
#loading{
position: absolute;
left: 50%;
top: 30%;
}
#loader-bg {
position: fixed;
width: 100%;
height: 100%;
top: 0px;
left: 0px;
background: #FFF;
z-index: 4;
}


@media screen and (max-width:768px) {
/* responsive */
#page {
.pc_contents{
    display: none;
}
.sp_contents{
    display: block;
}
.sp_inline{
    display: inline;
}
.pc_inline{
    display: none;
}
.sp_inline-block{
    display: inline-block;
}
.pc_inline-block{
    display: none;
}
}
/* added CSS */

}
@media all and (-ms-high-contrast:none) {
    .hogehoge::-ms-backdrop,  {
        font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic",sans-serif !important;
    }
}
